/* @theme A4S */

@import 'default';

section {
  width: 210mm;
  height: 297mm;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 40px; /* adjust padding as needed */
  box-sizing: border-box;
  line-height: 1.4;
}

/* Optional typography scaling */
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4, p, li {
  font-size: 20px;
}
